@import url("default.css");

body {
  background-color: #f6f9ff;
}
section.section {
  padding: 2rem 1rem;
  /* border: 1px solid blueviolet; */
}
section.section .section-container {
  /* border: 1px solid brown; */
}
/* For tablets */
@media screen and (min-width: 768px) {
  section.section {
    padding: 24px 48px;
  }
}
/* For desktops */
@media screen and (min-width: 992px) {
  section.section {
    padding: 48px 96px;
  }
}

/* Header */
@media screen and (min-width: 768px) {
  header section#hero-area .hero-description {
    padding-top: 1.2rem;
    padding-left: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  header section#hero-area .hero-description {
    padding-top: 96px;
    padding-left: 96px;
  }
}
header section#hero-area .hero-img {
  background: url("../imgs/hero-img-background-pattern.png");
}
header section#hero-area .cta-btns .btn {
  border-radius: .6rem;
}

/* ----------------------------
# Getting started 
-----------------------------*/
main section#getting-started .getting-started-card {
  border: 2px solid #aaaaaa;
  border-radius: 1.2rem;
  transition: .2s ease-in-out;
}
main section#getting-started .getting-started-card:hover {
  box-shadow: 0 .8rem 2.4rem rgba(0, 0, 0, 0.16);
}
main section#getting-started .getting-started-card img {
  width: 100% !important;
  border-radius: 1.2rem;

}

/* --------------------------
# How it works
---------------------------- */
@media screen and (min-width: 768px) {
  main section#how-it-works .get-started-btn {
    width: fit-content !important;
  }
}

/* ---------------------------------
# How we serve you 
------------------------------------*/
main section#what-we-offer .section-container {
  border-radius: .8rem;
  /* padding: 4rem 3.2rem !important; */
} 
@media screen and (min-width: 768px) {
  main section#what-we-offer .section-container {
    border-radius: 4rem;
    padding: 4rem 3.2rem !important;
  } 
}

/* ----------------------------
# FAQS section
------------------------------- */
/* Overriding the accordion arrow button */
main section#faqs .accordion-button {
  color: var(--monpa-theme-dark);
  outline: none;
  border: none;
}
main section#faqs .accordion-button:focus {

  background: rgba(var(--monpa-theme-primary-rgb), 0.08);
  box-shadow: none;
  color: var(--monpa-theme-dark);
}
main section#faqs .accordion-button:not(.collapsed) {
  border: none !important;
  box-shadow: none;
}

main section#faqs .accordion-button:not(.collapsed)::after {
  background-image: url("../imgs/accordion-arrow.svg");
}
main section#faqs .accordion-button::after {
  background-image: url("../imgs/accordion-arrow.svg");
}

/* --------------------------
# Footer
-------------------------- */
footer {
  padding: 2rem 1rem;
}
@media screen and (min-width: 768px) {
  section.section {
    padding: 1.2rem 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding: 48px 96px;
  }
}
